.back {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, .85);
  opacity: 0;
  transition: opacity .3s;
  z-index: 99999;
}
.back:not(.open) { pointer-events: none; }
.back.open { opacity: 1; }
.back.open .fore { transform: translate(-50%, -50%); }
.fore {
  background-color: #fff;
  min-width: 1rem;
  min-height: 1rem;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -100vh);
  transition: transform .3s;
}
.body { padding: .5em; }
.title:empty, .confirm:empty, .dismiss:empty { display: none; }
.title {
  padding: .5em .5em 0;
  display: block;
  background: gainsboro; 
}
.buttons {
  padding-top: .5em;
}
.confirm { background-color: rgb(11, 143, 18); }
.dismiss { background-color: rgb(143, 10, 17); }
button {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font: inherit;
  border: 0;
}